<header class="header">
  <div class="inner">
    <div class="nav">
      <div class="nav__left">
        <%= link_to image_tag("logo.png", class: :logo), root_path %>
      </div>
      <% if user_signed_in? %>
        <div class="nav__right">
          <%= link_to "ログアウト",  destroy_user_session_path, method: :delete, class: :nav__logout %>
          <button class="add" id="add"> <i class="fas fa-plus"></i> +memo</button>
        </div>
      <% else%>
        <div class="nav__right">
          <%= link_to "ログイン", new_user_session_path, class: :nav__btn %>
          <%= link_to "新規登録", new_user_registration_path, class: :nav__btn %>
        </div>
      <% end %>
    </div>
  </div>
</header>
<footer class="footer">
  <p class="copyright">Copyright © SELF MANAGEMENT All rights reserved.</p>
</footer>
<script src="https://cdnjs.cloudflare.com/ajax/libs/marked/1.2.2/marked.min.js"></script>
<script type="text/javascript" src="script.js"></script>
